html {
	margin: 0;
	padding: 0;
	--title-font: "Plafair display", serif;
	height: 100%;
}
body {
	font-family: "Roboto", sans-serif;
	display: grid;
	grid-template-rows: auto auto auto;
	flex-direction: column;
	padding: 0;
	/* gap: 48px; */
	margin: 0;
	min-height: 100%;
}
.dev-name {
	font-family: var(--title-font);
	font-size: 3.5rem;
	font-weight: 600;
	color: white;
	margin: 0;
	bottom: 0;
}
header {
	display: flex;
	padding: 32px;
	justify-content: center;

	align-items: center;
}
.introduction {
	/* max-width: 600px; */
	/* border: 2px solid black; */
	max-height: 350px;
	padding: 16px;
	padding-left: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	-webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.48);
	box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.48);
}
.about-me {
	font-size: 2.5rem;
}
.about-me-text {
	font-size: 1.5rem;
}
.dev-img-container,
.footer-img-container {
	position: relative;
	min-width: 400px;
	min-height: 400px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: end;
	max-width: 500px;
	/* border: 2px solid black; */
	background-image: url("./images/takao.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.48);
	box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.48);
	border-radius: 8px;
}

.links {
	display: flex;
	justify-content: end;
	gap: 16px;
}

.my-work {
	margin: 0;
	font-size: 2.5rem;
	font-family: var(--title-font);
	/* font-family: var(--title-font); */
}
.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 64px;
	justify-items: center;
}
.project {
	/* border: 1px solid black; */
	-webkit-box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.48);
	box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.48);
	border-radius: 8px;
	/* max-width: 400px; */
	width: 100%;
	height: fit-content;
}
.project-screenshot-container {
	height: 200px;
	background-size: contain;
	border-radius: 8px 8px 0px 0px;
	background-repeat: no-repeat;
}
.project-screenshot-container.to-do-list {
	background-image: url(./images/project-images/to-do-list.png);
}
.project-info {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 16px;
}
.project-title {
	font-size: 2rem;
	font-family: var(--title-font);
}
.project-description {
	margin-bottom: 48px;
}
.project-links {
	display: flex;
	justify-content: end;
	gap: 16px;
}
.dummy {
	display: none;
}
.my-work {
	margin-bottom: 16px;
}
footer {
	background-color: #0891b2;
	display: flex;
	margin-top: 48px;
	padding: 32px;
	justify-content: space-between;
	grid-row-start: 3;
	grid-row-end: 4;
	/* align-items: center; */
}
main {
	padding: 32px;
}
.contact-info {
	color: white;
}
.contact-me {
	margin-bottom: 0;
	font-size: 2.5rem;
	font-weight: 500;
	font-family: var(--title-font);
}
.footer-img-container {
	background-image: url(./images/sleeping.gif);
	min-width: 400px;
	min-height: 300px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
button {
	background: none;
	border: none;
}
button:hover {
	cursor: pointer;
	scale: 1.2;
}
a {
	text-decoration: none;
}
.github-icon {
	height: 32px;
}
.github-icon.footer-icon {
	color: white;
}
a > svg {
	height: 32px;
}
.project-screenshot-container.library{
	background-image: url(./images/project-images/library.png);
}
.project-screenshot-container.admin-dashboard{
	background-image: url(./images/project-images/admin-dashboard.png);
}
.project-screenshot-container.calculator{
	background-image: url(./images/project-images/calculator.png);
	background-size: cover;
}
.project-screenshot-container{
	background-size: cover;
}
